body {
    color: #100822;
}

#sign {
    font-size: 300%;
    text-align: center;
}

#current_day {
    font-size: 200%;
    text-align: center;
    font-style: italic;
}

#description {
    background-color: #b4a3fc;
    padding: 10px;
    text-align: justify;
}

#reading {
    font-size: 150%;
}
