@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital@0;1&display=swap');

body {
    font-family: 'MuseoModerno', cursive;
    background-color: #100822;
    margin: 0;
}

h1 {
    font-size: 400%;
    color: #b4a3fc;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

@media only screen and (max-width: 960px) {
    h1 {
        font-size: 300%;
        text-align: center;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 200%;
        text-align: center;
    }
}
