/* @import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital@0;1&display=swap');

body {
    font-family: 'MuseoModerno', cursive;
    /* background-color: #133E36; */
    background-color: #100822;
    /* padding: 20px; */
    margin: 0;
}

h1 {
    font-size: 400%;
    /* color: white; */
    color: #b4a3fc;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
